beautifulsoup4==4.6.0
biopython==1.70
bson
certifi==2017.11.5
gitdb2==2.0.3
html5lib==1.0.1
lxml==4.1.1
numpy==1.13.3
pandas==0.21.1
pyard==0.0.1
pygfe==0.0.13
PyMySQL==0.7.11
python-dateutil==2.6.1
pytz==2017.3
seqann==0.0.7
six==1.11.0
smmap2==2.0.3
typing==3.6.4
urllib3==1.24.2
webencodings==0.5.1
