requests~=2.31.0
urllib3<2
numpy~=1.26.4
py-ard~=0.9.1
py-gfe~=1.1.6
lxml~=4.9.2
Pympler~=0.9
awscli~=1.18.159
boto3~=1.15.3
polars~=0.18.3
aws-parameters~=0.1.8
pygethub~=0.1.1
pydantic~=2.0.0
python-dotenv~=1.0.1