biopython==1.75
bson==0.5.8
certifi==2020.12.5
chardet==3.0.4
Click==7.0
colorama==0.4.4
idna==2.8
lxml==4.6.3
more-itertools==8.7.0
neo4j-driver==1.7.4
neobolt==1.7.17
neotime==1.7.4
numpy==1.20.2
pandas==1.2.3
prompt-toolkit==2.0.10
py-ard==0.6.1
py-gfe==1.1.2
py2neo==4.3.0
Pygments==2.3.1
Pympler==0.9
PyMySQL==0.9.3
pyspark==2.4.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.22.0
seq-ann==1.1.0
six==1.15.0
urllib3==1.24.3
wcwidth==0.2.5
